body {
    margin: 0px;
}

.childComponent {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.pad0 {
    padding: 0px;
}

.marg0 {
    margin: 0px;
}

.centerAlign {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.red {
    color: red;
}

.orangeRed {
    color: orangered;
}

.navyBlue {
    color: navy;
}

.solidBlackHr {
    margin-top: 0px;
    background-color: black;
    border: 0px none;
}

.solidGreyHr {
    background-color: grey;
}