.thumbnail {
    height: 250px;
    width: 200px;
}

.readMoreTag {
    color: #f44336;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .BookListFirstDiv {
        margin-bottom: 80px;
    }
}