    /* You can add global styles to this file, and also import other style files */
    
    @import url("/assets/css/bootstrap.min.css");
    @import url("/assets/css/font-awesome.min.css");
    .bgImg {
        background-image: url("/assets/images/backgroundImage.jpg");
        opacity: 1;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .logo {
        border-right: 2px solid gray;
        margin: 5px;
        padding: 0px 20px;
    }